<% layout('./layouts/boilerplate')%>
    <nav class="nav">
        <a href="/"><span>&larr;</span> Back</a>
    </nav>

    <article class="portfolio-projects">
        <div class="inner-wrapper flex-row-wrap two-col">
            <div class="project-info-box box">
                <h1><%= project.name %></h1>
                <p><%= project.description %></p>
            </div>
            <div class="project-tech-links-box box">
                <h6>Technologies</h6>
                <ul>
                    <% for (let technology of project.technologies) { %> 
                    <li><%= technology %> </li>
                    <% } %> 
                </ul>
                <a class="btn-link" target="_blank" href="<%= project.liveLink %>">Live Demo</a>
                <a class="btn-link" target="_blank" href="<%= project.githubLink %>">GitHub Repo</a>
            </div>
        </div>
        <div class="project-img-box box">
            <!-- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes -->
            <% for (let i = 0; i < project.imageUrls.length; i++) { %> 
                <img class="project-img" src="<%= project.imageUrls[i] %>" alt="Screen capture <%= i + 1 %> of <%= project.name %> project">
            <% } %> 
        </div>
        <nav class="nav">
            <a href="/"><span>&larr;</span> Back</a>
        </nav>
    </article>